.container{
  position: relative;

}

.col{
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 100%;
  font-size: 30px;
}
.row{
  border: 1px solid black;
  height: 100px;
  font-size: 30px;
  padding-left: 10px;
}

.title{
  font-size: 50px;
  text-align: center;
}

.result{
  display: none;
}

#age{
  padding-top:20px;
}

#age0{
  font-size:15px;
  padding-top:35px;
}
#age1{
  font-size:15px;
  padding-top:35px;
}
#age2{
  font-size:15px;
  padding-top:35px;
}
#age3{
  font-size:15px;
  padding-top:35px;
}
#age4{
  font-size:15px;
  padding-top:35px;
}