.container{
  position: relative;

}

.col{
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 100%;
  font-size: 30px;
}
.row{
  border: 1px solid black;
  height: 100px;
  font-size: 30px;
  padding-left: 10px;
}

#age{
  font-size: 20px;
  align-self: center;
}

.title{
  font-size: 40px;
}

.result{
  display: none;
}
