.container-grid {
  margin: 10px;
  height: 900px;
  background: white;
  cursor: default;
  display: grid;
  grid-template-rows: 0.6fr 0.6fr 0.6fr 0.6fr 1fr 1fr 1fr 1fr 1fr 2fr;
}

.row{
  border-top: 1px solid grey;
  height: 40px;
  font-size: 17px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
}

.title{
  font-size: 40px;
  text-align: center;
}

.patientDataText {
  flex-basis: 20%;
}
.patientDataForm {
  flex-basis: 80%;
}
.nhsdata {
  border-radius: 10px;
  border: 1px solid gray;
  background: lightgray;
}
.values {
  flex-basis: 60%;
}
.agevalues {
  flex-basis: 20%;
}
.yesno {
  border: 1px solid grey;
  flex-basis: 35%;
  display: flex;
  border-radius: 5px;
}
.selectAge {
  flex-basis: 75%;
  display: flex;
  font-size: 12px;
}

.nobtn {
  background: #0066cc;
  color: white;
  flex-basis: 50%;
}

#less50{
  padding-left: 10px;
  background: lightgrey;
  color: black;
  flex-basis: 20%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: 1px solid grey;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
#age50-59{
  padding-left: 10px;
  flex-basis: 20%;
  border-right: 1px solid grey;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  background: lightgrey;
}
#age60-69{
  padding-left: 10px;
  flex-basis: 20%;
  border-right: 1px solid grey;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  background: lightgrey;
}
#age70-79{
  padding-left: 10px;
  flex-basis: 20%;
  border-right: 1px solid grey;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  background: lightgrey;
}
#more80{
  padding-left: 10px;
  flex-basis: 20%;
  border-right: 1px solid grey;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  background: lightgrey;
}

.yesbtn{
  background: lightgrey;
  flex-basis: 50%;
}



.result{
  background: #0066cc;
  height: 100%;
  color: white;
  border-radius: 5px;
  border: 1px solid #0066cc;
}

#resultText {
  padding-left: 20px;
}
